<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row">
    <a mat-flat-button color="primary" (click)="tipoUserDetails()">
      <mat-icon>info</mat-icon>
    </a>
  </div>
  <mat-card class="example-card">
    <form [formGroup]="userTipoForm" (ngSubmit)="onFormSubmit(userTipoForm.value)">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Tipo de Usuario" formControlName="tipoUsuario" >
        <mat-error>
          <span *ngIf="!userTipoForm.get('tipoUsuario').valid && userTipoForm.get('tipoUsuario').touched">Tipo de Usuario</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Desripción" formControlName="descripcion" >
        <mat-error>
          <span *ngIf="!userTipoForm.get('descripcion').valid && userTipoForm.get('descripcion').touched">Descripción</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Nivel" formControlName="nivel" >
        <mat-error>
          <span *ngIf="!userTipoForm.get('nivel').valid && userTipoForm.get('nivel').touched">Nivel</span>
        </mat-error>
      </mat-form-field>

      <div class="button-row">
        <button type="submit" [disabled]="!userTipoForm.valid" mat-flat-button class="btn btn-primary">
          <mat-icon>save</mat-icon>
        </button>
      </div>
    </form>
  </mat-card>
</div>

