<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row">
    <a mat-flat-button class="btn btn-primary" [routerLink]="['/i-user-tipo-add']">
      <mat-icon>add</mat-icon>
    </a>
  </div>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="data" class="example-table" matSort matSortActive="tipo_usuario_nombre" matSortDisableClear
      matSortDirection="asc">

      <!-- Product Name Column -->
      <ng-container matColumnDef="tipo_usuario_nombre">
        <th mat-header-cell *matHeaderCellDef>Tipo de Usuario</th>
        <td mat-cell *matCellDef="let row">{{row.nombre}}</td>
      </ng-container>

      <!-- Product Price Column -->
      <ng-container matColumnDef="tipo_usuario_descripcion">
        <th mat-header-cell *matHeaderCellDef>Descripcion</th>
        <td mat-cell *matCellDef="let row">$ {{row.descripcion}}</td>
      </ng-container>

      <!-- Product Price Column -->
      <ng-container matColumnDef="tipo_usuario_nivel">
        <th mat-header-cell *matHeaderCellDef>nivel</th>
        <td mat-cell *matCellDef="let row">$ {{row.nivel}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/i-user-tipo-details/', row.id]"></tr>
    </table>
  </div>
</div>
