<!--
<div class="container" style="display: flex; justify-content: center; align-items: center; height: 100vh">
  hello world!
</div>
-->

<div class="fondo">
  <div class="container" style="display: flex; justify-content: center; align-items: center; height: 100vh">
    <div class="container h-100">
      <div class="d-flex justify-content-center h-100">
        <div class="user_card">
          <div class="d-flex justify-content-center">
            <div class="brand_logo_container">
              <img src="assets/images/benemerita.png" class="brand_logo" alt="Logo">
            </div>
          </div>
          <div class="d-flex justify-content-center form_container">
            <form class="mt-4" style="max-width: 50%;" id="Login" #loginform="ngForm" (ngSubmit)="login(loginform)">

              <div class="d-flex justify-content-center pb-3">
                <img src="assets/images/controlab.svg" height="30" alt="">
              </div>

              <div class="input-group mb-3">
                <div class="input-group-append">
                  <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <input type="text" class="form-control input_user" value="" placeholder="Usuario" name="username"
                  >
              </div>
              <div class="input-group mb-2">
                <div class="input-group-append">
                  <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                <input type="password" class="form-control input_pass" placeholder="password" name="password"
                  >
              </div>
              <div class="form-group">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="customControlInline">
                  <label class="custom-control-label" for="customControlInline">Remember me</label>
                </div>
              </div>
              <div class="d-flex justify-content-center mt-3 login_container">
                <!-- button (click)=checkLogin() type="button" name="button" class="btn login_btn btn-success">Login</button -->
                <button type="submit" class="btn login_btn btn-success">Iniciar</button>
              </div>
              <div class="form-group">
                <div class="d-flex justify-content-center links">
                  <a href="#" class="btn forgot_btn">Recuperar password?</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
