.fondo {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: linear-gradient(#f1f3f4, white);
}

.user_card {
  height: 400px;
  width: 380px;
  margin-top: auto;
  margin-bottom: auto;
  background-image: linear-gradient(black, #1f1f1f);
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;
}
.brand_logo_container {
  position: absolute;
  height: 170px;
  width: 170px;
  top: -75px;
  border-radius: 50%;
  //background: #60a3bc;
  background: black;
  padding: 10px;
  text-align: center;
}
.brand_logo {
  height: 150px;
  width: 150px;
}
.form_container {
  margin-top: 50px;
}
.login_btn {
  width: 100%;
  background-image: linear-gradient(#d7901c, #76470f);
  //background: #003375 !important;
  color: white !important;
}
.login_btn:focus {
  box-shadow: none !important;
  outline: 0px !important;
}

.forgot_btn {
  color:  #76470f !important;
}

.login_container {
  padding: 0 2rem;
}
.input-group-text {
  background-image: linear-gradient(#d7901c, #76470f);
  //background: #003375 !important;
  color: white !important;
  border: 0 !important;
  border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
  box-shadow: none !important;
  outline: 0px !important;
}

.custom-control-label{
  color: white;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

a:link {
  color:  #76470f !important;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #76470f;
  background-color: transparent;
  text-decoration: underline;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-image: linear-gradient(#d7901c, #76470f);
  //background-color: #003375 !important;
  color: white;
}
