<header>
  <nav class ="navbar navbar-expand-md navbar-dark bg-dark">
  <div><a href="www.ovante.com.mx" class="navbar-brand">We</a></div>

  <!-- ul class="navbar-nav">rvice.isUserLoggedIn()" routerLink="/" class="nav-link">View Usuarios</a></li>
    <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/addemployee" class="nav-link">Add New Usuario</a></li>
    <li><a *ngIf="!loginService.isUserLoggedIn()" routerLink="/login" class="nav-link">Login</a></li>
    <li><
    <li><a *ngIf="loginSea *ngIf="loginService.isUserLoggedIn()" routerLink="/logout" class="nav-link">LogOut</a></li>


  </ul -->

  </nav>

  </header>
