<div class="col-md-6">
  <table class="table table-striped">
  <thead>
  <tr>
    <th>usuario</th>
    <th>clave</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let usuario of usuarios">
          <td>{{usuario.usuario}}</td>
          <td>{{usuario.clave}}</td>
          <td><button class="btn btn-danger" (click)="deleteUsuario(usuario)"> Eliminar Usuario</button></td>
          </tr>
  </tbody>
    </table>

  </div>
