<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row">
    <a mat-flat-button color="primary" [routerLink]="['/i-user-tipo']"><mat-icon>list</mat-icon></a>
  </div>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title><h2>{{tipoUser.nombre}}</h2></mat-card-title>
      <mat-card-subtitle>{{tipoUser.descripcion}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <dl>
        <dt>Tipo de Usuario:</dt>
        <dd>{{tipoUser.nombre}}</dd>
        <dt>Descripción:</dt>
        <dd>{{tipoUser.descripcion}}</dd>
        <dt>Nivel:</dt>
        <dd>{{tipoUser.nivel}}</dd>
      </dl>
    </mat-card-content>
    <mat-card-actions>
      <a mat-flat-button color="primary" [routerLink]="['/i-user-tipo-edit', tipoUser.id]"><mat-icon>edit</mat-icon></a>
      <a mat-flat-button color="warn" (click)="deleteTipoUser(tipoUser.id)"><mat-icon>delete</mat-icon></a>
    </mat-card-actions>
  </mat-card>
</div>

