<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row">
    <a mat-flat-button class="btn btn-primary" [routerLink]="['/i-user']">
      <mat-icon>list</mat-icon>
    </a>
  </div>
  <mat-card class="example-card">
    <form [formGroup]="userForm" (ngSubmit)="onFormSubmit(userForm.value)">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Usuario" formControlName="user_user">
        <mat-error>
          <span *ngIf="!userForm.get('user_user').valid && userForm.get('user_user').touched">Usuario</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput type="password" placeholder="Password" formControlName="user_password">
        <mat-error>
          <span *ngIf="!userForm.get('user_password').valid && userForm.get('user_password').touched">Password</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Tipo de Usuario</mat-label>
        <mat-select>
          <mat-option *ngFor="let tu of tus" [value]="tu.id">
            {{tu.nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="button-row">
        <button type="submit" [disabled]="!userForm.valid" mat-flat-button class="btn btn-primary">
          <mat-icon>save</mat-icon>
        </button>
      </div>
    </form>
  </mat-card>
</div>
