<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row">
    <a mat-flat-button class="btn btn-primary" [routerLink]="['/i-user-add']">
      <mat-icon>add</mat-icon>
    </a>
  </div>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="data" class="example-table" matSort matSortActive="user_usuario" matSortDisableClear
      matSortDirection="asc">

      <!-- Product Name Column -->
      <ng-container matColumnDef="user_usuario">
        <th mat-header-cell *matHeaderCellDef>Usuario</th>
        <td mat-cell *matCellDef="let row">{{row.user}}</td>
      </ng-container>

      <!-- Product Price Column -->
      <ng-container matColumnDef="user_password">
        <th mat-header-cell *matHeaderCellDef>Password</th>
        <td mat-cell *matCellDef="let row">$ {{row.password}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/i-user-detail/', row.id]"></tr>
    </table>
  </div>
</div>
