<div class="col-md-6">
  <h2 class="text-center">Add Usuario</h2>
  <form>
    <div class="form-group">
      <label for="name">Usuario:</label>
      <input type="name" [(ngModel)]="user.usuario" placeholder="Usuario" name="name" class="form-control" id="name">
    </div>

    <div class="form-group">
      <label for="clave">clave:</label>
      <input [(ngModel)]="user.clave" placeholder="Clave" name="clave" class="form-control" id="clave">
    </div>

    <div class="form-group">
      <label for="TipoUsuario">id</label>
      <input [(ngModel)]="user.tipoUsuario" placeholder="TipoUsuario" name="TipoUsuario" class="form-control" id="TipoUsuario">
    </div>

    <button class="btn btn-success" (click)="createUsuario()">Create</button>
  </form>
  </div>
