<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row">
    <a mat-flat-button class="btn btn-primary" [routerLink]="['/i-user-tipo']">
      <mat-icon>list</mat-icon>
    </a>
  </div>
  <mat-card class="example-card">
    <form [formGroup]="userTipoForm" (ngSubmit)="onFormSubmit(userTipoForm.value)">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Tipo de Usuario" formControlName="tipoUserNombre">
        <mat-error>
          <span *ngIf="!userTipoForm.get('tipoUserNombre').valid && userTipoForm.get('tipoUserNombre').touched">Tipo de Usuario</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput  placeholder="Descripción" formControlName="tipoUserDescripcion">
        <mat-error>
          <span *ngIf="!userTipoForm.get('tipoUserDescripcion').valid && userTipoForm.get('tipoUserDescripcion').touched">Descripción</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput  placeholder="Nivel" formControlName="tipoUserNivel">
        <mat-error>
          <span *ngIf="!userTipoForm.get('tipoUserNivel').valid && userTipoForm.get('tipoUserNivel').touched">nivel</span>
        </mat-error>
      </mat-form-field>
      <div class="button-row">
        <button type="submit" [disabled]="!userTipoForm.valid" mat-flat-button class="btn btn-primary">
          <mat-icon>save</mat-icon>
        </button>
      </div>
    </form>
  </mat-card>
</div>
